<div class="panel row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="panel-heading text-center">
      <h1>Get Departure Times</h1>
    </div>
    <div class="panel-body">
      <%= simple_form_for @search, html: {class: "form-group"} do |search_field| %>
        <div class="col-sm-12">
          <%= search_field.input :origin, 
                                 placeholder: "Enter your origin address", 
                                 label: false,
                                 input_html: {class: "form-control"} %>
        </div>

        <div class="col-sm-12">
          <%= search_field.input :destination, 
                                 placeholder: "Enter your destination address", 
                                 label: false,
                                 input_html: {class: "form-control"} %>
        </div>

        <div class="col-sm-8 col-sm-offset-2">
          <%= search_field.submit "SEARCH", class: "btn btn-success btn-block" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div>
  <h1>IP: <%= @ip %></h1>
  <h1>addr: <%= @addr %></h1>
</div>