<table class="table table-striped">
  <thead>
    <tr>
      <th>Origin</th>
      <th>Destination</th>
      <th>Agency</th>
      <th>Departure Time</th>
      <th>Departure Stop</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @search.origin %></td>
      <td><%= @search.destination %></td>
      <td><%= @result[:agency] %></td>
      <td><%= @result[:departure_time] %></td>
      <td><%= @result[:departure_stop] %></td>
    </tr>
  </tbody>
</table>